.browse-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: #ffffff; */
  overflow: hidden;
  margin-bottom: 50px;
  background-color: #fff;
  background-image: radial-gradient(
      circle at 0 0,
      #75abbcbb 0,
      rgba(95, 213, 182, 0) 30%
    ),
    linear-gradient(180deg, #75abbc63 -10%, rgba(121, 223, 255, 0) 70%),
    radial-gradient(circle at 95% 0, #75abbc 0, rgba(95, 213, 182, 0) 20%);
}

.browse-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  background-color: #75abbc;
  /* background-color: #75abbc; */
}

.browse-search-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.browse-title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
}

.clear-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffffa8;
  cursor: pointer;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  /* text-decoration: underline; */
  margin-left: -50px;
}

.browse-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 85%;
}

.browse-search-bar {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 5px;
  flex: 1 1 0%;
}

.search-bar-browse {
  display: flex;
  /* padding: 20px; */
  border: none;
  flex: 1 1 0%;
  border-right: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 15px;
}

.browse-zipcode-input {
  padding: 15px;
  border-right: 1px solid grey;
  border: none;
  flex: 1 1 0;
  font-size: 15px;
}

.browse-search-button {
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}
.browse-search-button:hover {
  background-color: #dddddd;
  /* color: white; */
  transition: 0.2s ease 0s;
}

input:focus {
  outline: none;
}
.browse-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  margin-top: 50px;
}

.browse-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
  background-color: #75abbc72;
  border-radius: 10px;
  width: 30rem;
  height: 15rem;
  white-space: normal;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  margin-right: 20px;
  color: #000;
  flex-shrink: 0;
  margin: 10px;
  padding: 20px;
  border: 2px solid rgb(26, 32, 53);
  line-height: 1rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button {
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  /* border: 1px solid black; */
  border: none;
  background: white;
  cursor: pointer;
}

.card-button:hover {
  background-color: #dddddd;
  transition: 0.2s ease 0s;
}

/* .browse-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #75abbca5;
  border-radius: 18px;
  width: 30rem;
  height: 15rem;
  white-space: normal;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  margin-right: 20px; 
  color: #000;
  flex-shrink: 0; 
  margin: 10px;
  padding: 20px;
  border: 2px solid rgb(26, 32, 53);
  line-height: 1rem;
} */

.browse-rating {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  /* align-content: center;
  align-items: center; */
}

.modal-button {
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: white;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #dddddd;
  transition: 0.2s ease 0s;
}

.modal-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  /* gap: 5px; */
  padding: 50px;
  align-items: center;
  background-color: #75abbc;
  height: 50%;
  justify-content: space-around;
}

.modal-secondary {
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
}

.profile-details {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.profile-details img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.review-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  gap: 50px;
}

.review-card {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: #75abbc72;
}
